*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    background-color: NavajoWhite;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.title{
    margin-left: -50px;
}
#score{
    font-size: 2rem;
    color: black;
}
#cav-container {
    width: 504px;
    height: 504px;
    margin: 0 auto;
}
#cav{
  border: 0.8rem #696969 solid;
}
.main{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.direction{
    margin-top: 1rem;
    transform: rotate(45deg);
    
}
.direction>div{
    display: flex;
}
.direction>div>div{
    width: 80px;
    height: 80px;
    background-color: #ff9800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px whitesmoke solid;
    cursor: pointer;
}
.direction>div>div:active{
    background-color: #f57c00;
}
.button-name{
    transform: rotate(-45deg);
}
#up{
    border-radius: 100% 0 0 0;
}
#right{
    border-radius: 0 100% 0 0;
}
#down{
    border-radius: 0 0 100% 0;
}
#left{
    border-radius: 0 0 0 100%;
}
.controller{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.controller>div{
    background-color: #ff9800;
    color: white;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 0.5px solid;
    cursor: pointer;
}
.controller>div:active{
    background-color: #f57c00;
}
.controller>div>p{
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    width: 80%;
}
